.main {
  padding: 0px;
  box-shadow: 0px 0px 4px grey;
  background: #beaad8;
  justify-content: flex-end;

  height: 700px;
  background: #d4c0ef4f;
}
.main .row div {
  height: 700px;
  text-align: center;
  vertical-align: middle;
  padding-top: 200px;
  font-size: 30px;
  color: #908686;
}
