.navbar {
  padding: 0px;
  box-shadow: 0px 0px 4px grey;
  background: #beaad8;
  justify-content: flex-end;
}
ul.nav {
  background: #e4e4e4;
  height: 40em;
}

ul.nav li {
  color: #574371c4;
  font-size: 16px;
  font-weight: bold;
}

ul.nav li.active {
  background: #f1faeb;

  color: #574371c4;
  font-size: 16px;
  font-weight: bold;
}

ul.nav li:hover {
  background: #796a8c;
  color: #c7b6dc;
  cursor: pointer;
}
